body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header {
    background-color: #eee5dc;
    padding: 10px 0;
}

.title {
    margin: 0;
    font-size: 24px;
}

.thanks-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 50px 20px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.thanks-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-button {
    background-color: #8b7a74;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.home-button:hover {
    background-color: #705c53;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
    z-index: 0;
}